<div class="container">
	<div class="col-sm-8">
		
		<h3>CalcMonthInvoice</h3>
		<!--
		<form name="monthInvoice" class="form-horizontal">
			<div class="form-group">
			    <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
			    <div class="col-sm-8">
			      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
			    </div>
			</div>
		</form>
		-->
		<form name="monthInvoice" class="form-horizontal">
			<table>
				<thead>
					<tr>
						<td>Mon</td>
						<td>Tue</td>
						<td>Wed</td>
						<td>Thu</td>
						<td>Fri</td>
						<td>Sat</td>
						<td>Sun</td>
					</tr>
				</thead>
			</table>
		</form>

	</div>
	<div class="col-sm-4">
	</div>
</div>

